.button {
  margin-top: var(--spacing);
  padding: var(--spacing-sm);
  color: var(--white);
  background: var(--primary);
  text-decoration: none;
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
}
