@import './_colorGuide.scss';
@import './_spacing.scss';
@import './_helper';

// components
@import './components/';

html {
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

*,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: var(--primary800);
}

@for $i from 1 through 6 {
  h#{$i} {
    color: var(--header);
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
  }
}
